.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.header{
    background-color: whitesmoke;
}

.patient-record{
    padding:2rem;
}

.patient-record > *{
     padding:2rem;
}